@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?t4usxq');
	src:url('fonts/icomoon.eot?#iefixt4usxq') format('embedded-opentype'),
		url('fonts/icomoon.ttf?t4usxq') format('truetype'),
		url('fonts/icomoon.woff?t4usxq') format('woff'),
		url('fonts/icomoon.svg?t4usxq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-menu:before {
	content: "\e9bd";
}

